:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 24px;
  --black-gray: #12151c;
  --dark-gray: #1b222c;
  --purple: #8320c9;
  color: white;
  height: 100%;
  width: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  background-color: var(--black-gray);
  overflow: hidden;
  margin: 0;
}

#root {
  height: 100%;
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.75rem;
  padding: 0.75rem;
  margin: 0.75rem 0;
  border-radius: 8px;
  border: none;
  color: black;
}

input[type="submit"] {
  display: block;
  background-color: var(--purple);
  color: white;
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: 3px gray solid;
}

h3 {
  margin: 0;
}

.y-scroll {
  overflow: hidden scroll !important;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*================login box================*/
.user-info-form {
  width: 100%;
  max-width: 450px;
  padding: 2% 5%;
  font-size: 2rem;
  border-radius: 12px;
}

.user-info-form > h3 {
  margin-bottom: 1rem;
}

.user-info-form > span {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 0.5rem;
}

@media (min-width: 500px) {
  .user-info-form {
    background-color: var(--dark-gray);
  }
}
